.goBack {
    border: 2px solid rgba(30, 177, 217, 0.601);
    position: absolute;
    left: 10%;
    top: 10%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.1s;
}


.goBack img {
    width: 30px;
    height: 30px;
}

.goBack:hover {
    background-color: rgba(30, 177, 217, 0.601);
    border: 2px solid navy;

}


.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lInput {
    height: 30px;
    padding: 10px;
}

.lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.lButton:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
}