.fp {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 20px;
}

.fpItem {
    /* flex: 1; */
    gap: 10px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    animation: move1 5s infinite alternate-reverse ease-in-out;
}


@keyframes move1 {
    from {
        left: -125px;
    }

    to {
        left: 0px;
    }
}

.fpImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.fpName {
    color: #333;
    font-weight: bold;
    text-transform: capitalize;
}

.fpCity {
    font-weight: 300;
    text-transform: capitalize;
}

.fpPrice {
    font-weight: 500;
}

.fpRating>button {
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.fpRating>span {
    font-size: 14px;
}