.navbar {
    height: 50px;
    background: rgb(158, 0, 255);
    background: linear-gradient(45deg, rgba(158, 0, 255, 1) 0%, rgba(0, 48, 255, 1) 100%);
    display: flex;
    justify-content: center;

}

.navContainer {
    width: 100%;
    min-width: 1024px;
    /* background-color: red; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

.logo {
    font-size: 500;
    text-transform: capitalize;
}
.navButton{
    margin-left: 20px;
    border:none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;

}