.footer {
    width: 100%;
    width: 1024px;
    font-size: 14px;
}

.fLists {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.fList {
    list-style: none;
    padding: 0 5px;
    /* border-left: 1px solid rgb(146, 146, 146); */
    /* border: 1px solid rgb(146, 146, 146); */

}

.seperator {
    border-left: 1px solid rgb(194, 194, 194);
}

.fListItem {
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
    transition: 0.2s;
}

.fListItem:hover {
    scale: 1.1;
}